<div class="follow-updates">
  <img class="author-photo" src="/assets/images/laust.png" alt="A photo of {{ site.author }}">
  <p>
    Hi, I'm Laust Rud Jacobsen, an experienced webapp developer
    specializing in Ruby-based solutions. You can hire me to build awesome
    stuff for you. If you have any questions or comments, reach out at
    <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or privately at
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
  </p>

  <p>
    Never miss an update - sign up here to be first in line when new and
    exciting things happen. Absolutely no spam.
  </p>
  {% include gumroad-follow.html %}
</div>
