<div class="follow-updates">
  <p>
    Hi, I'm Laust Rud Jacobsen, an experienced webapp developer specializing in Ruby-based solutions. You can hire me to build awesome stuff for you. If you have any questions or comments, reach me as <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or privately at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
  </p>

  <p>
    Never miss an update - sign up here to be first in line when new and exciting things happen. No spam, promise!
    {% include gumroad-follow.html %}
  </p>
</div>
