<p>
  A current and exciting development: I'm in the process of writing
  <a href="https://gumroad.com/rud/">Effective Maintenance: taming messy code (Ruby edition)</a>.

  <br />
  Sign up below to receive infrequent updates and valuable insights to help you succeed:
</p>

<form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post">
  <input name="seller_id" type="hidden" value="1816377711443">
  <input name="email" placeholder="Your email address" type="email">
  <button type="submit">Keep me posted</button>
</form>
