.pagination .next {
  float: right;
}

.site-header .site-title {
  color: rgb(33, 117, 155);
  font-family: "PT Serif", Georgia, "Helvetica Neue", Arial, sans-serif;
  font-size: 43px;
  font-weight: normal;
}